<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kelele</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/app.css')}}" />
    <script src="{{ url_for('static', filename='bower_components/modernizr/modernizr.js')}}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery/jquery.js')}}"></script>
    
  </head>
  <body>
    <div class="bgwrapper">
      <nav class="top-bar small-6 small-centered columns">
        <ul class="title-area">
          <li class="name">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='media/logo.png')}}" alt="" width="40px" height="40px"></a>
            <h1><a href="{{ url_for('index') }}">Kelele</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
          {% if user.given_name %}
            <li><a href="{{ url_for('.dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('.logout') }}">Log out</a></li>
          {% else %}
            <li><a href="{{ url_for('.register') }}">Sign up</a></li>
            <li><a href="{{ url_for('.login') }}">Log in</a></li>
          {% endif %}
          </ul>
        </section>
      </nav>
      <div class="holder">
        {% block content %}{% endblock %}
      </div>
    
    {% extends "footer.html" %}
  </body>
</html>
