<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kelele</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/app.css')}}" />
    <script src="{{ url_for('static', filename='bower_components/modernizr/modernizr.js')}}"></script>

  </head>
  <body>
    <div class="bgwrapper">
      <div class="small-centered header">
          <a href="{{ url_for('index') }}"><h1>Kelele</h1></a>
      </div>
      <div class="holder">
        {% block content %}{% endblock %}
      </div>
    
    {% extends "footer.html" %}
  </body>
</html>
